
*{margin: 0; padding: 0;}
.col-sm-4{
    margin-top: 20px;

}
.col-sm-8{
    margin-top: 40px;
}
.col-sm-8 h3 {
    line-height: 35px;
    padding-bottom: 30px;
    margin-left: 30px;
}

.col-sm-8 p {
    line-height:25px ;
    margin-left: 30px;
    margin-bottom: 50px;
}
.check{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}
button {
    margin-left: 30px;
    margin-top: 50px;
}
.lead{
    margin-top: 50px;
}
#concentrated{
    background-color: #1dc4ca;
    color: white;
}
