.home{
    margin: auto;
    width: 700px;
    height: 700px;
    background-color: white;
}
.tieude{
    background-color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
#A{
    border-bottom: 2px solid #b2dba1;
    height: 1px;
    width: 50px;
    margin: auto;
}
.menu{
    margin-top: 20px;
    margin-left: 30px;
}
.menu ul li {
    background-color: whitesmoke;
    float: left;
    list-style: none;
    margin-left: 20px;
}
.menu a{
    text-decoration: none;
    color: black;
}
.sanpham{
    background-color: white;
}
.ten{
    padding: 50px 50px 50px 50px;
    background-color: #67b168;
    margin-bottom: 10px;
    margin-top: 10px;
}