
.row{
    width:1000px;
    height: 700px;
    margin: auto;
    background-color: whitesmoke;
}
.home{
    text-align: center;
    margin-left: 10px;
    color: black;
}
h1{
    color: black;
}
.sanpham{
    background-color: white;
}
.ten{

    padding: 50px 50px 50px 50px;
    background-color: #b9def0;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 200px;
}
.chu{
    margin-left: 10px;
}