*{
    margin: 0;
    padding: 0;
}
.container {
    background: linear-gradient(to right, #e5e4e4 45%, #ee0b0b 48%);
    background: -moz-linear-gradient(to right, #e5e4e4 45%, #ee0b0b 48%);
    background: -o-linear-gradient(to right, #e5e4e4 45%, #ee0b0b 48%);
    background: -ms-linear-gradient(to right, #e5e4e4 45%, #ee0b0b 48%);
    background: -webkit-linear-gradient(left, #e5e4e4 45%, #ee0b0b 48%);

}
p{
    display: block;
}
