*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(49,69,132);
}
.header{
    padding: 30px 0;
    position: relative;
}
.logo{
    background-image: url("../img/Logo.png");
    width: 69px;
    height: 30px;
}
.bg-light{
    background-color: transparent!important;
}
.container-fluid{
    padding: 0;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: center;
}
.navbar-nav{
    justify-content: flex-end;
}
.navbar-nav li{
    margin-right: 15px;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(49,69,132);
    font-weight: 700;
}
.nav-1{
    padding-top: 10px;
}
.nav-1 a{
    font-weight: 700;
    margin: 0 20px 0 0;
    color: rgb(49,69,132);
}
.nav-1 a:hover{
    text-decoration: none;
}
.language{
    border: none;
    background-color: unset;
}
.language:focus{
    outline: none;
}
.button{
    color: red;
    padding: 10px 25px;
    background-color: #fff;
    border: none;
    box-shadow: 1px 3px 7px 0 #d4d4d4;
    border-radius: 3px;
    font-weight: 700;
    transition: .3s;
}
.button i{
    margin-left: 10px;
}
.button:hover{
    transform: scale(.98);
}
.button:focus{
    outline: none;
}
.image{
    background-image: url("../img/Bg. Shape.png");
    position: absolute;
    background-size: contain;
    width: 700px;
    height: 800px;
    top: 5%;
    right: 0;
    background-repeat: no-repeat;
    z-index: -1;
}
.image-2{
    background-image: url("../img/Vector Illustration.png");
    width: 520px;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 6%;
    top: 25%;
    z-index: -1;
}
.section-1-1{
    padding: 100px 0;
    max-width: 500px;
}
.text-1{
    font-size: 50px;
    font-weight: 700;
}
.text-2{
    color: #8b9195;
    padding: 40px 0;
}
.button-2{
    margin-bottom: 25px;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    color: #fff;
    background-color: #ff3946;
    transition: .3s;
}
.button-2:hover{
    background-color: #E93340;
}
.button-2:focus{
    outline: none;
}

.section-1-1 a{
    color: rgb(49,69,132);
    margin-left: 25px;
    transition: .2s;
    text-decoration: none;
}
.section-1-1 a:hover{
    color: #ff3946;
}
.section-2{
    position: relative;
}
.image-3{
    position: absolute;
    left: 0;
    top: 80px;
    z-index: -1;
}
.section-2-1{
    padding-top: 120px;
}
.text-3{
    font-weight: 700;
    font-size: 35px;
    max-width: 400px;
    padding-bottom: 40px;
}
.item-2{
    margin: 0 0 15px 0;
    padding: 30px;
    background-color: #fff;
    border: none;
    box-shadow: 1px 3px 7px 0 #d4d4d4;
}
.text-4{
    font-size: 20px;
    font-weight: 700;
    padding: 25px 0;
}
.image-4{
    background-image: url("../img/Bg. Shape3.png");
    width: 250px;
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    z-index: -1;
}
.section-3-1{
    padding-top: 150px;
}
.text-5{
    color: #ff3946;
    text-transform: uppercase;
}
.item-3{
    padding-right: 40px;
}
.item-4{
    padding-left: 40px;
}
.back-next button{
    padding: 20px 0;
    margin-right: 10px;
    border: none;
    background-color: unset;
}
.back-next button:focus{
    outline: none;
}
.back{
    color: #9d9d9d;
}
.back-next-2 button{
    padding: 20px 0;
    margin-right: 10px;
    border: none;
    background-color: unset;
}
.back-next-2 button:focus{
    outline: none;
}
.image-5{
    z-index: -1;
    position: absolute;
    top: 200px;
}
.section-4{
    position: relative;
    padding-top: 150px;
}
.item-6{
    margin-bottom: 30px;
}
.text-6{
    padding: 15px 0;
    color: #ff3946;
    font-weight: 700;
    text-decoration: none;
}
.image-6{
    position: absolute;
    right: 0;
    z-index: -1;
}
.item-5-2{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 50px;
}
.section-5{
    padding-top: 100px;
}
.item-7{
    cursor: pointer;
    padding: 30px;
    border: none;
    box-shadow: 1px 3px 7px 0 #d4d4d4;
    transition: .3s;
    margin-bottom: 15px;
}
.text-7{
    padding-bottom: 15px;
    font-size: 12px;
    color: #8b9195
}
.back-next-3{
    display: flex;
    flex-direction: row-reverse;
}
.back-next-3 button{
    padding: 30px 0 10px 0;
    border: none;
    background-color: unset;
    color: #ff3946;
}
.back-next-3 button:focus{
    outline: none;
}
.item-7:hover{
    background-color: #ff3946;
}
.item-7:hover p{
    color: #fff;
}
.item-7:hover button{
    color: #fff;
}
.section-6{
    padding: 100px 0 20px 0;
}
.box{
    margin-bottom: 15px;
    border: none;
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: rgb(244, 250, 254);
}
.box:focus{
    outline: none;
}
::placeholder{
    color: rgb(49,69,132);
}
.item-8{
    margin-top: 20px;
}
.box-2{
    border: none;
    width: 100%;
    height: 50px;
    padding: 25px 0 100px 15px;
    background-color: rgb(244, 250, 254);
}
.box-2:focus{
    outline: none;
}
.button-3{
    text-align: center;
    margin: 30px 0;
}
.footer{
    background-color: rgb(49,69,132);
    color: #fff;
    padding: 50px 0;
}
.text-8{
    color: #ff3946;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-2{
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.nav-2 a{
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
}
.nav-2 a:hover{
    text-decoration: none;
}
.swiper-slide {

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.icon a{
    font-size: 30px;
    margin: 0 25px;
    color: #fff;
    transition: .3s;
}
.icon a:nth-of-type(1):hover{
    color:#337ab7;
}
.icon a:nth-of-type(2):hover{
    color: #5bc0de;
}
.icon a:nth-of-type(3):hover{
    color: palevioletred;
}
@media (max-width: 1400px) {
    .logo{
        left: 20px;
    }
    .nav-2{
        padding-left: 12px;
    }
}
@media (max-width: 992px) {

    .navbar-light .navbar-toggler{
        position: absolute;
        right: 15px;
    }
    .nav-3{
        margin-right: 40px;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
    }
    .navbar-collapse {
        width: 100%;
        top: 100%;
        position: absolute;
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 10px;
    }
}
@media (max-width: 385px) {
    .nav-3 button i{
        display: none;
    }
    .button{
        padding: 10px 15px;
    }
    .text-1{
        font-size: 35px;
    }
    body{
        text-align: center;
    }
    .text-2{
        padding: 20px 0;

    }
    .section-2-1{
        padding-top: 50px;
    }
    .section-3-1{
        padding-top: 70px;
    }
    .section-6{
        padding-top: 50px;
    }
    .text-3{
        font-size: 25px;
    }
    .text-8{
        font-size: 35px;
    }
    .footer{
        padding: 30px 0;
    }
}

@media (max-width: 768px) {
    .section-1-1{
        padding-top:40px;
        padding-bottom: 0;
    }
    .section-4{
        padding-top: 50px;
    }
    .item-4{
        padding-left: 15px;
    }
    .text-3{
        padding-bottom: 0;
    }
    .item-5-2{
        padding: 0;
    }
    .nav-3{
        margin-right: 70px;
    }
}